<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>citylist</key>
	<array>
		<dict>
			<key>cityCode</key>
			<string>CHBJ000000</string>
			<key>cityNameEn</key>
			<string>Beijing</string>
			<key>cityNameZh</key>
			<string>北京</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSH000000</string>
			<key>cityNameEn</key>
			<string>Shanghai</string>
			<key>cityNameZh</key>
			<string>上海</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHTJ000000</string>
			<key>cityNameEn</key>
			<string>Tianjin</string>
			<key>cityNameZh</key>
			<string>天津</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHCQ000000</string>
			<key>cityNameEn</key>
			<string>Chongqing</string>
			<key>cityNameZh</key>
			<string>重庆</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHL000000</string>
			<key>cityNameEn</key>
			<string>Haerbin</string>
			<key>cityNameZh</key>
			<string>哈尔滨</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHL010000</string>
			<key>cityNameEn</key>
			<string>Qiqihaer</string>
			<key>cityNameZh</key>
			<string>齐齐哈尔</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHL020000</string>
			<key>cityNameEn</key>
			<string>Mudanjiang</string>
			<key>cityNameZh</key>
			<string>牡丹江</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHL080000</string>
			<key>cityNameEn</key>
			<string>Daqing</string>
			<key>cityNameZh</key>
			<string>大庆</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHJL000000</string>
			<key>cityNameEn</key>
			<string>Changchun</string>
			<key>cityNameZh</key>
			<string>长春</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHJL010000</string>
			<key>cityNameEn</key>
			<string>Jilin</string>
			<key>cityNameZh</key>
			<string>吉林</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHLN000000</string>
			<key>cityNameEn</key>
			<string>Shenyang</string>
			<key>cityNameZh</key>
			<string>沈阳</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHLN010000</string>
			<key>cityNameEn</key>
			<string>Dalian</string>
			<key>cityNameZh</key>
			<string>大连</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHLN020000</string>
			<key>cityNameEn</key>
			<string>Anshan</string>
			<key>cityNameZh</key>
			<string>鞍山</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHLN030000</string>
			<key>cityNameEn</key>
			<string>Fushun</string>
			<key>cityNameZh</key>
			<string>抚顺</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHLN040000</string>
			<key>cityNameEn</key>
			<string>Benxi</string>
			<key>cityNameZh</key>
			<string>本溪</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHLN050000</string>
			<key>cityNameEn</key>
			<string>Dandong</string>
			<key>cityNameZh</key>
			<string>丹东</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHLN060000</string>
			<key>cityNameEn</key>
			<string>Jinzhou</string>
			<key>cityNameZh</key>
			<string>锦州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHLN070000</string>
			<key>cityNameEn</key>
			<string>Yingkou</string>
			<key>cityNameZh</key>
			<string>营口</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHLN120000</string>
			<key>cityNameEn</key>
			<string>Panjin</string>
			<key>cityNameZh</key>
			<string>盘锦</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHLN130000</string>
			<key>cityNameEn</key>
			<string>Huludao</string>
			<key>cityNameZh</key>
			<string>葫芦岛</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHNM000000</string>
			<key>cityNameEn</key>
			<string>Huhehaote</string>
			<key>cityNameZh</key>
			<string>呼和浩特</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHNM010000</string>
			<key>cityNameEn</key>
			<string>Baotou</string>
			<key>cityNameZh</key>
			<string>包头</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHNM050000</string>
			<key>cityNameEn</key>
			<string>Chifeng</string>
			<key>cityNameZh</key>
			<string>赤峰</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHNM060000</string>
			<key>cityNameEn</key>
			<string>Eerduosi</string>
			<key>cityNameZh</key>
			<string>鄂尔多斯</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHE000000</string>
			<key>cityNameEn</key>
			<string>Shijiazhuang</string>
			<key>cityNameZh</key>
			<string>石家庄</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHE010000</string>
			<key>cityNameEn</key>
			<string>Baoding</string>
			<key>cityNameZh</key>
			<string>保定</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHE020000</string>
			<key>cityNameEn</key>
			<string>Zhangjiakou</string>
			<key>cityNameZh</key>
			<string>张家口</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHE030000</string>
			<key>cityNameEn</key>
			<string>Chengde</string>
			<key>cityNameZh</key>
			<string>承德</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHE040000</string>
			<key>cityNameEn</key>
			<string>Tangshan</string>
			<key>cityNameZh</key>
			<string>唐山</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHE050000</string>
			<key>cityNameEn</key>
			<string>Langfang</string>
			<key>cityNameZh</key>
			<string>廊坊</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHE060000</string>
			<key>cityNameEn</key>
			<string>Cangzhou</string>
			<key>cityNameZh</key>
			<string>沧州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHE070000</string>
			<key>cityNameEn</key>
			<string>Hengshui</string>
			<key>cityNameZh</key>
			<string>衡水</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHE080000</string>
			<key>cityNameEn</key>
			<string>Xingtai</string>
			<key>cityNameZh</key>
			<string>邢台</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHE090000</string>
			<key>cityNameEn</key>
			<string>Handan</string>
			<key>cityNameZh</key>
			<string>邯郸</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHE100000</string>
			<key>cityNameEn</key>
			<string>Qinhuangdao</string>
			<key>cityNameZh</key>
			<string>秦皇岛</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHA000000</string>
			<key>cityNameEn</key>
			<string>Zhengzhou</string>
			<key>cityNameZh</key>
			<string>郑州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHA010000</string>
			<key>cityNameEn</key>
			<string>Anyang</string>
			<key>cityNameZh</key>
			<string>安阳</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHA040000</string>
			<key>cityNameEn</key>
			<string>Pingdingshan</string>
			<key>cityNameZh</key>
			<string>平顶山</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHA070000</string>
			<key>cityNameEn</key>
			<string>Kaifeng</string>
			<key>cityNameZh</key>
			<string>开封</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHA080000</string>
			<key>cityNameEn</key>
			<string>Luoyang</string>
			<key>cityNameZh</key>
			<string>洛阳</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHA100000</string>
			<key>cityNameEn</key>
			<string>Jiaozuo</string>
			<key>cityNameZh</key>
			<string>焦作</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHA160000</string>
			<key>cityNameEn</key>
			<string>Sanmenxia</string>
			<key>cityNameZh</key>
			<string>三门峡</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSX000000</string>
			<key>cityNameEn</key>
			<string>Taiyuan</string>
			<key>cityNameZh</key>
			<string>太原</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSX010000</string>
			<key>cityNameEn</key>
			<string>Datong</string>
			<key>cityNameZh</key>
			<string>大同</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSX020000</string>
			<key>cityNameEn</key>
			<string>Yangquan</string>
			<key>cityNameZh</key>
			<string>阳泉</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSX040000</string>
			<key>cityNameEn</key>
			<string>Changzhi</string>
			<key>cityNameZh</key>
			<string>长治</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSX060000</string>
			<key>cityNameEn</key>
			<string>Linfen</string>
			<key>cityNameZh</key>
			<string>临汾</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSD000000</string>
			<key>cityNameEn</key>
			<string>Jinan</string>
			<key>cityNameZh</key>
			<string>济南</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSD010000</string>
			<key>cityNameEn</key>
			<string>Qingdao</string>
			<key>cityNameZh</key>
			<string>青岛</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSD020000</string>
			<key>cityNameEn</key>
			<string>Zibo</string>
			<key>cityNameZh</key>
			<string>淄博</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSD040000</string>
			<key>cityNameEn</key>
			<string>Yantai</string>
			<key>cityNameZh</key>
			<string>烟台</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSD050000</string>
			<key>cityNameEn</key>
			<string>Weifang</string>
			<key>cityNameZh</key>
			<string>潍坊</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSD060000</string>
			<key>cityNameEn</key>
			<string>Jining</string>
			<key>cityNameZh</key>
			<string>济宁</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSD070000</string>
			<key>cityNameEn</key>
			<string>Taian</string>
			<key>cityNameZh</key>
			<string>泰安</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSD080000</string>
			<key>cityNameEn</key>
			<string>Linyi</string>
			<key>cityNameZh</key>
			<string>临沂</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSD090000</string>
			<key>cityNameEn</key>
			<string>Heze</string>
			<key>cityNameZh</key>
			<string>菏泽</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSD100000</string>
			<key>cityNameEn</key>
			<string>Binzhou</string>
			<key>cityNameZh</key>
			<string>滨州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSD110000</string>
			<key>cityNameEn</key>
			<string>Dongying</string>
			<key>cityNameZh</key>
			<string>东营</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSD120000</string>
			<key>cityNameEn</key>
			<string>Weihai</string>
			<key>cityNameZh</key>
			<string>威海</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSD130000</string>
			<key>cityNameEn</key>
			<string>Zaozhuang</string>
			<key>cityNameZh</key>
			<string>枣庄</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSD140000</string>
			<key>cityNameEn</key>
			<string>Rizhao</string>
			<key>cityNameZh</key>
			<string>日照</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSD150000</string>
			<key>cityNameEn</key>
			<string>Laiwu</string>
			<key>cityNameZh</key>
			<string>莱芜</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSD160000</string>
			<key>cityNameEn</key>
			<string>Liaocheng</string>
			<key>cityNameZh</key>
			<string>聊城</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHJS000000</string>
			<key>cityNameEn</key>
			<string>Nanjing</string>
			<key>cityNameZh</key>
			<string>南京</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHJS010000</string>
			<key>cityNameEn</key>
			<string>Wuxi</string>
			<key>cityNameZh</key>
			<string>无锡</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHJS020000</string>
			<key>cityNameEn</key>
			<string>Zhenjiang</string>
			<key>cityNameZh</key>
			<string>镇江</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHJS030000</string>
			<key>cityNameEn</key>
			<string>Suzhou</string>
			<key>cityNameZh</key>
			<string>苏州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHJS040000</string>
			<key>cityNameEn</key>
			<string>Nantong</string>
			<key>cityNameZh</key>
			<string>南通</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHJS050000</string>
			<key>cityNameEn</key>
			<string>Yangzhou</string>
			<key>cityNameZh</key>
			<string>扬州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHJS060000</string>
			<key>cityNameEn</key>
			<string>Yancheng</string>
			<key>cityNameZh</key>
			<string>盐城</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHJS070000</string>
			<key>cityNameEn</key>
			<string>Xuzhou</string>
			<key>cityNameZh</key>
			<string>徐州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHJS080000</string>
			<key>cityNameEn</key>
			<string>Huaian</string>
			<key>cityNameZh</key>
			<string>淮安</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHJS090000</string>
			<key>cityNameEn</key>
			<string>Lianyungang</string>
			<key>cityNameZh</key>
			<string>连云港</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHJS100000</string>
			<key>cityNameEn</key>
			<string>Changzhou</string>
			<key>cityNameZh</key>
			<string>常州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHJS110000</string>
			<key>cityNameEn</key>
			<string>Taizhou</string>
			<key>cityNameZh</key>
			<string>泰州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHJS120000</string>
			<key>cityNameEn</key>
			<string>Suqian</string>
			<key>cityNameZh</key>
			<string>宿迁</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHZJ000000</string>
			<key>cityNameEn</key>
			<string>Hangzhou</string>
			<key>cityNameZh</key>
			<string>杭州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHZJ010000</string>
			<key>cityNameEn</key>
			<string>Huzhou</string>
			<key>cityNameZh</key>
			<string>湖州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHZJ020000</string>
			<key>cityNameEn</key>
			<string>Jiaxing</string>
			<key>cityNameZh</key>
			<string>嘉兴</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHZJ030000</string>
			<key>cityNameEn</key>
			<string>Ningbo</string>
			<key>cityNameZh</key>
			<string>宁波</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHZJ040000</string>
			<key>cityNameEn</key>
			<string>Shaoxing</string>
			<key>cityNameZh</key>
			<string>绍兴</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHZJ050000</string>
			<key>cityNameEn</key>
			<string>Taizhou</string>
			<key>cityNameZh</key>
			<string>台州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHZJ060000</string>
			<key>cityNameEn</key>
			<string>Wenzhou</string>
			<key>cityNameZh</key>
			<string>温州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHZJ070000</string>
			<key>cityNameEn</key>
			<string>Lishui</string>
			<key>cityNameZh</key>
			<string>丽水</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHZJ080000</string>
			<key>cityNameEn</key>
			<string>Jinhua</string>
			<key>cityNameZh</key>
			<string>金华</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHZJ090000</string>
			<key>cityNameEn</key>
			<string>Quzhou</string>
			<key>cityNameZh</key>
			<string>衢州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHZJ100000</string>
			<key>cityNameEn</key>
			<string>Zhoushan</string>
			<key>cityNameZh</key>
			<string>舟山</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHFJ000000</string>
			<key>cityNameEn</key>
			<string>Fuzhou</string>
			<key>cityNameZh</key>
			<string>福州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHFJ010000</string>
			<key>cityNameEn</key>
			<string>Xiamen</string>
			<key>cityNameZh</key>
			<string>厦门</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHFJ040000</string>
			<key>cityNameEn</key>
			<string>Quanzhou</string>
			<key>cityNameZh</key>
			<string>泉州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHJX000000</string>
			<key>cityNameEn</key>
			<string>Nanchang</string>
			<key>cityNameZh</key>
			<string>南昌</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHJX010000</string>
			<key>cityNameEn</key>
			<string>Jiujiang</string>
			<key>cityNameZh</key>
			<string>九江</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHAH000000</string>
			<key>cityNameEn</key>
			<string>Hefei</string>
			<key>cityNameZh</key>
			<string>合肥</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHAH020000</string>
			<key>cityNameEn</key>
			<string>Wuhu</string>
			<key>cityNameZh</key>
			<string>芜湖</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHAH040000</string>
			<key>cityNameEn</key>
			<string>Maanshan</string>
			<key>cityNameZh</key>
			<string>马鞍山</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHB000000</string>
			<key>cityNameEn</key>
			<string>Wuhan</string>
			<key>cityNameZh</key>
			<string>武汉</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHB020000</string>
			<key>cityNameEn</key>
			<string>Ezhou</string>
			<key>cityNameZh</key>
			<string>鄂州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHB070000</string>
			<key>cityNameEn</key>
			<string>Jingzhou</string>
			<key>cityNameZh</key>
			<string>荆州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHB080000</string>
			<key>cityNameEn</key>
			<string>Yichang</string>
			<key>cityNameZh</key>
			<string>宜昌</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHN000000</string>
			<key>cityNameEn</key>
			<string>Changsha</string>
			<key>cityNameZh</key>
			<string>长沙</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHN010000</string>
			<key>cityNameEn</key>
			<string>Xiangtan</string>
			<key>cityNameZh</key>
			<string>湘潭</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHN020000</string>
			<key>cityNameEn</key>
			<string>Zhuzhou</string>
			<key>cityNameZh</key>
			<string>株洲</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHN050000</string>
			<key>cityNameEn</key>
			<string>Changde</string>
			<key>cityNameZh</key>
			<string>常德</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHN090000</string>
			<key>cityNameEn</key>
			<string>Yueyang</string>
			<key>cityNameZh</key>
			<string>岳阳</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHN100000</string>
			<key>cityNameEn</key>
			<string>Zhangjiajie</string>
			<key>cityNameZh</key>
			<string>张家界</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGD000000</string>
			<key>cityNameEn</key>
			<string>Guangzhou</string>
			<key>cityNameZh</key>
			<string>广州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGD010000</string>
			<key>cityNameEn</key>
			<string>Shaoguan</string>
			<key>cityNameZh</key>
			<string>韶关</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGD020000</string>
			<key>cityNameEn</key>
			<string>Huizhou</string>
			<key>cityNameZh</key>
			<string>惠州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGD030000</string>
			<key>cityNameEn</key>
			<string>Meizhou</string>
			<key>cityNameZh</key>
			<string>梅州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGD040000</string>
			<key>cityNameEn</key>
			<string>Shantou</string>
			<key>cityNameZh</key>
			<string>汕头</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGD050000</string>
			<key>cityNameEn</key>
			<string>Shenzhen</string>
			<key>cityNameZh</key>
			<string>深圳</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGD060000</string>
			<key>cityNameEn</key>
			<string>Zhuhai</string>
			<key>cityNameZh</key>
			<string>珠海</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGD070000</string>
			<key>cityNameEn</key>
			<string>Foshan</string>
			<key>cityNameZh</key>
			<string>佛山</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGD080000</string>
			<key>cityNameEn</key>
			<string>Zhaoqing</string>
			<key>cityNameZh</key>
			<string>肇庆</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGD090000</string>
			<key>cityNameEn</key>
			<string>Zhanjiang</string>
			<key>cityNameZh</key>
			<string>湛江</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGD100000</string>
			<key>cityNameEn</key>
			<string>Jiangmen</string>
			<key>cityNameZh</key>
			<string>江门</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGD120000</string>
			<key>cityNameEn</key>
			<string>Qingyuan</string>
			<key>cityNameZh</key>
			<string>清远</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGD130000</string>
			<key>cityNameEn</key>
			<string>Yunfu</string>
			<key>cityNameZh</key>
			<string>云浮</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGD140000</string>
			<key>cityNameEn</key>
			<string>Chaozhou</string>
			<key>cityNameZh</key>
			<string>潮州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGD150000</string>
			<key>cityNameEn</key>
			<string>Dongguan</string>
			<key>cityNameZh</key>
			<string>东莞</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGD160000</string>
			<key>cityNameEn</key>
			<string>Zhongshan</string>
			<key>cityNameZh</key>
			<string>中山</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGD170000</string>
			<key>cityNameEn</key>
			<string>Yangjiang</string>
			<key>cityNameZh</key>
			<string>阳江</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGD180000</string>
			<key>cityNameEn</key>
			<string>Jieyang</string>
			<key>cityNameZh</key>
			<string>揭阳</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGD190000</string>
			<key>cityNameEn</key>
			<string>Maoming</string>
			<key>cityNameZh</key>
			<string>茂名</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGD200000</string>
			<key>cityNameEn</key>
			<string>Shanwei</string>
			<key>cityNameZh</key>
			<string>汕尾</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGX000000</string>
			<key>cityNameEn</key>
			<string>Nanning</string>
			<key>cityNameZh</key>
			<string>南宁</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGX020000</string>
			<key>cityNameEn</key>
			<string>Liuzhou</string>
			<key>cityNameZh</key>
			<string>柳州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGX040000</string>
			<key>cityNameEn</key>
			<string>Guilin</string>
			<key>cityNameZh</key>
			<string>桂林</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGX120000</string>
			<key>cityNameEn</key>
			<string>Beihai</string>
			<key>cityNameZh</key>
			<string>北海</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHI000000</string>
			<key>cityNameEn</key>
			<string>Haikou</string>
			<key>cityNameZh</key>
			<string>海口</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHI010000</string>
			<key>cityNameEn</key>
			<string>Sanya</string>
			<key>cityNameZh</key>
			<string>三亚</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHHI030000</string>
			<key>cityNameEn</key>
			<string>Lingao</string>
			<key>cityNameZh</key>
			<string>临高</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGZ000000</string>
			<key>cityNameEn</key>
			<string>Guiyang</string>
			<key>cityNameZh</key>
			<string>贵阳</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGZ010000</string>
			<key>cityNameEn</key>
			<string>Zunyi</string>
			<key>cityNameZh</key>
			<string>遵义</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHYN000000</string>
			<key>cityNameEn</key>
			<string>Kunming</string>
			<key>cityNameZh</key>
			<string>昆明</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHYN030000</string>
			<key>cityNameEn</key>
			<string>Qujing</string>
			<key>cityNameZh</key>
			<string>曲靖</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHYN060000</string>
			<key>cityNameEn</key>
			<string>Yuxi</string>
			<key>cityNameZh</key>
			<string>玉溪</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHYN130000</string>
			<key>cityNameEn</key>
			<string>Lijiang</string>
			<key>cityNameZh</key>
			<string>丽江</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSC000000</string>
			<key>cityNameEn</key>
			<string>Chengdu</string>
			<key>cityNameZh</key>
			<string>成都</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSC010000</string>
			<key>cityNameEn</key>
			<string>Panzhihua</string>
			<key>cityNameZh</key>
			<string>攀枝花</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSC020000</string>
			<key>cityNameEn</key>
			<string>Zigong</string>
			<key>cityNameZh</key>
			<string>自贡</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSC030000</string>
			<key>cityNameEn</key>
			<string>Mianyang</string>
			<key>cityNameZh</key>
			<string>绵阳</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSC040000</string>
			<key>cityNameEn</key>
			<string>Nanchong</string>
			<key>cityNameZh</key>
			<string>南充</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSC090000</string>
			<key>cityNameEn</key>
			<string>Luzhou</string>
			<key>cityNameZh</key>
			<string>泸州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSC100000</string>
			<key>cityNameEn</key>
			<string>Yibin</string>
			<key>cityNameZh</key>
			<string>宜宾</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSC150000</string>
			<key>cityNameEn</key>
			<string>Liangshan</string>
			<key>cityNameZh</key>
			<string>凉山</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSC190000</string>
			<key>cityNameEn</key>
			<string>Deyang</string>
			<key>cityNameZh</key>
			<string>德阳</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHXZ000000</string>
			<key>cityNameEn</key>
			<string>Lasa</string>
			<key>cityNameZh</key>
			<string>拉萨</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSN000000</string>
			<key>cityNameEn</key>
			<string>Xian</string>
			<key>cityNameZh</key>
			<string>西安</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSN010000</string>
			<key>cityNameEn</key>
			<string>Xianyang</string>
			<key>cityNameZh</key>
			<string>咸阳</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSN020000</string>
			<key>cityNameEn</key>
			<string>Yanan</string>
			<key>cityNameZh</key>
			<string>延安</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSN040000</string>
			<key>cityNameEn</key>
			<string>Weinan</string>
			<key>cityNameZh</key>
			<string>渭南</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSN080000</string>
			<key>cityNameEn</key>
			<string>Baoji</string>
			<key>cityNameZh</key>
			<string>宝鸡</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHSN090000</string>
			<key>cityNameEn</key>
			<string>Tongchuan</string>
			<key>cityNameZh</key>
			<string>铜川</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHNX000000</string>
			<key>cityNameEn</key>
			<string>Yinchuan</string>
			<key>cityNameZh</key>
			<string>银川</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHNX010000</string>
			<key>cityNameEn</key>
			<string>Shizuishan</string>
			<key>cityNameZh</key>
			<string>石嘴山</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGS000000</string>
			<key>cityNameEn</key>
			<string>Lanzhou</string>
			<key>cityNameZh</key>
			<string>兰州</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGS050000</string>
			<key>cityNameEn</key>
			<string>Jinchang</string>
			<key>cityNameZh</key>
			<string>金昌</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHGS130000</string>
			<key>cityNameEn</key>
			<string>Jiayuguan</string>
			<key>cityNameZh</key>
			<string>嘉峪关</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHQH000000</string>
			<key>cityNameEn</key>
			<string>Xining</string>
			<key>cityNameZh</key>
			<string>西宁</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHXJ000000</string>
			<key>cityNameEn</key>
			<string>Wulumuqi</string>
			<key>cityNameZh</key>
			<string>乌鲁木齐</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHXJ010000</string>
			<key>cityNameEn</key>
			<string>Kelamayi</string>
			<key>cityNameZh</key>
			<string>克拉玛依</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>CHXJ050000</string>
			<key>cityNameEn</key>
			<string>Kuerle</string>
			<key>cityNameZh</key>
			<string>库尔勒</string>
		</dict>
	</array>
	<key>recommendCities</key>
	<array>
		<dict>
			<key>cityNameZh</key>
			<string>上海</string>
			<key>cityNameEn</key>
			<string>Shanghai</string>
			<key>cityCode</key>
			<string>CHSH000000</string>
		</dict>
		<dict>
			<key>cityNameZh</key>
			<string>北京</string>
			<key>cityNameEn</key>
			<string>Beijing</string>
			<key>cityCode</key>
			<string>CHBJ000000</string>
		</dict>
		<dict>
			<key>cityNameZh</key>
			<string>广州</string>
			<key>cityNameEn</key>
			<string>Guangzhou</string>
			<key>cityCode</key>
			<string>CHGD000000</string>
		</dict>
		<dict>
			<key>cityNameZh</key>
			<string>深圳</string>
			<key>cityNameEn</key>
			<string>Shenzhen</string>
			<key>cityCode</key>
			<string>CHGD050000</string>
		</dict>
	</array>
</dict>
</plist>
